# iterables

In [24]:
fruits = ["apples", "orng", "gapes"]
iterable =  iter(fruits)
#iterables can be done with strings, list

In [21]:
print(next(iterable))

gapes

In [25]:
#for loop

for fal in fruits:
    print(fal)

apples
orng
gapes

# For loop syntex: temp_varible in iterable

In [46]:
fruits = ["apple","oranges","banana", 12,[1,2,4],(),{},2.7]

In [48]:
print("traversing started")
for i in fruits:
    print(i)
    print(type(i))
    i=list[i]
    print(i)
print("traversing done")

traversing started
apple
<class 'str'>
list['apple']
oranges
<class 'str'>
list['oranges']
banana
<class 'str'>
list['banana']
12
<class 'int'>
list[12]
[1, 2, 4]
<class 'list'>
list[[1, 2, 4]]
()
<class 'tuple'>
list[()]
{}
<class 'dict'>
list[{}]
2.7
<class 'float'>
list[2.7]
traversing done

In [53]:
table_of_2=[1,2,3,4,5,6,7,8,9,10]
for i in table_of_2:
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [57]:
for i in range(1,12,2):

    print(i)
    print(type(i))
    print(i*2)

1
<class 'int'>
2
3
<class 'int'>
6
5
<class 'int'>
10
7
<class 'int'>
14
9
<class 'int'>
18
11
<class 'int'>
22

#### str can be iterated

In [61]:
for i in "hello":
    print(i)

h
e
l
l
o

In [ ]:
emp_details = {
               1 : ["monal", "india"], 
               2 : ["lucas", "brazil"],
               3 : ["ashar", "Saudi arabia", 2],
               4 : ["riyan", "india"],
               "hello" : "hello"
               }

In [100]:
print(emp_details[1])
print(emp_details.keys())
#for i in emp_details.keys():
    #print(emp_details[i])
for i in emp_details:
    print(emp_details[i])

['monal', 'india']
dict_keys([1, 2, 3, 4, 'hello'])
['monal', 'india']
['lucas', 'brazil']
['ashar', 'Saudi arabia', 2]
['riyan', 'india']
hello

In [ ]:
'''
*
**
***
****
*****
'''

In [106]:
for i in range(1,6):
    print(i)
    print("*"*i)

1
*
2
**
3
***
4
****
5
*****

In [124]:
max = 3
for i in range(2,-1,-1):
    print(i*"-",end=(""))
    print((max-i)*"*")

--*
-**
***

In [138]:
fixed=3
for i in range(1,4):
    print((fixed-i)*("-"),end="")
    print(i*("*"))

--*
-**
***

In [157]:
""""
++++++++problem statement+++++++++
1) list down the 10 student ids
2) exlude the defaulter student with student id 6
3) student_id=[10,1,3,4] defaulter
4) Continue to skip to print
"""
student_id=[10,1,3,4]
for i in range(1,11,1):
    if i in student_id:
        continue
    print("student_id:",i)

student_id: 2
student_id: 5
student_id: 6
student_id: 7
student_id: 8
student_id: 9

In [197]:
fixed=7
for i in range(4,8,): for j in range(1,8,2):
print(i,j)

SyntaxError: invalid syntax (1652021469.py, line 2)

In [202]:

  Alice= {"math": 90, "science": 85}
  Bob= {"math": 78, "science": 92}
print(type(Alice))
print(Alice(1))

<class 'dict'>

TypeError: 'dict' object is not callable

In [ ]:
sentence = "hello world hello"
words = sentence.split()
word_count = {}

for word in words:
    word_count[word] = word_count.get(word, 0) + 1

print(word_count)

In [215]:
phonebook = {'Alice': '1234', 'Bob': '5678'}
name = input("Enter name to lookup: ")

if name in phonebook:
    print(f"{name}'s number is {phonebook[name]}")
    print(name, "phone number is",phonebook[name])
else:
    print("Name not found.")

Alice's number is 1234
Alice phone number is 1234

Count Words in a Sentence

Input: "hello world hello"

Output: {'hello': 2, 'world': 1}
(Use a dictionary to count how many times each word appears.)

In [220]:
sentence = "hello world hello"
print(type(sentence))
words= sentence.split()
print(type(words))
print(words)

<class 'str'>
<class 'list'>
['hello', 'world', 'hello']

In [280]:
sentence = "hello world hello"
#split() breakdown the string to list of words 
words = sentence.split()
print(words)
word_count = {}
print(type(word_count))

for word in words:
    word_count[word] = word_count.get(word, 0) + 1

print(word_count)

['hello', 'world', 'hello']
<class 'dict'>
{'hello': 2, 'world': 1}

In [240]:
word_count = {'hello': 2, 'world': 1}

p

NameError: name 'p' is not defined

Student Grades
Input: List of students with scores: [('Alice', 85), ('Bob', 90), ('Alice', 95)]
Output: {'Alice': [85, 95], 'Bob': [90]}
(Group scores of each student in a dictionary.)

In [ ]:
data= [('Alice', 85), ('Bob', 90), ('Alice', 95)]
grades={}

for name, score in data:
    if name not in grades:
        grades[name]=[]# this will creates the key with Alice and asign empty list 'Alice':[]
    grades[name].append(score)#this will creates key Alice and value as 85 which will be 'Alice':[85]

print(grades)

{'Alice': [85, 95], 'Bob': [90]}

In [256]:
data= [('Alice', 85), ('Bob', 90), ('Alice', 95)]
grades={}

for name in data:
 grades[name]=[1]
print(grades)

{('Alice', 85): [1], ('Bob', 90): [1], ('Alice', 95): [1]}

Create a Dictionary from Two Lists
Input:
keys = ['name', 'age', 'city']
values = ['Alice', 25, 'New York']

Output:
{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [269]:
keys=['name', 'age', 'city']
values = ['Alice', 25, 'New York'] # both have the same lenth
info={}
for i in range(len(keys)):
    info[keys[i]]=values[i]

print(info)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

Count Frequency of Each Character in a String
Input: "banana"

Output: {'b': 1, 'a': 3, 'n': 2}

In [283]:
name="banana"
char={}
for i in name:
    char[i]=char.get(i, 0) +  1
       
print(char)

{'b': 1, 'a': 3, 'n': 2}

Find the Word with Maximum Frequency in a Sentence
Input: "this is a test this is only a test"

Output: "this" (it appears 2 times, the most)

In [295]:
sent="this is a test this is only a test"
words = sent.split()
print(words)
max={}
for i in words:
    print(i)
    if i is not max:
        max[i]=max.get(i,0) + 1
print(max)

['this', 'is', 'a', 'test', 'this', 'is', 'only', 'a', 'test']
this
is
a
test
this
is
only
a
test
{'this': 2, 'is': 2, 'a': 2, 'test': 2, 'only': 1}